@model IEnumerable<POS.Models.EntityModel.Stock>

@{
    ViewBag.Title = "Stock Report";
}

<h2 class="text-primary">Stock Report</h2>

@*<div class="form-group">
    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-5" })
    <div class="col-md-7">
        @Html.DropDownListFor(model => model.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select . . .", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
    </div>
</div>*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.Organizations.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryFullPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Organizations.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvgPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryFullPath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
